elicom.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xml:lang="fr" xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.tei-c.org/ns/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <start>
    <ref name="TEI"/>
  </start>
  <div>
    <a:documentation>Structure</a:documentation>
    <define name="TEI">
      <element name="TEI">
        <a:documentation>Élément racine</a:documentation>
        <ref name="xml.lang"/>
        <ref name="teiHeader"/>
        <ref name="text"/>
      </element>
    </define>
    <define name="text">
      <element name="text">
        <ref name="body"/>
      </element>
    </define>
    <define name="teiHeader">
      <element name="teiHeader">
        <a:documentation>La page de titre électronique, avec les métadonnées</a:documentation>
        <ref name="fileDesc"/>
        <ref name="profileDesc"/>
      </element>
    </define>
    <define name="fileDesc">
      <element name="fileDesc">
        <a:documentation>Description bibliographique du fichier</a:documentation>
        <ref name="titleStmt"/>
        <ref name="editionStmt"/>
        <ref name="publicationStmt"/>
        <optional>
          <ref name="seriesStmt"/>
        </optional>
        <ref name="sourceDesc"/>
      </element>
    </define>
    <define name="titleStmt">
      <element name="titleStmt">
        <a:documentation>Titre et auteur de la lettre (! obligatoire)</a:documentation>
        <ref name="title"/>
        <ref name="author"/>
      </element>
    </define>
    <define name="editionStmt">
      <element name="editionStmt">
        <a:documentation>Description de l’éditon électronique</a:documentation>
        <ref name="edition"/>
        <zeroOrMore>
          <ref name="respStmt"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="publicationStmt">
      <element name="publicationStmt">
        <a:documentation>Mention de publication de l’éditon électronique (pas du contenu intellectuel, cf. <a:el>sourceDesc</a:el>)</a:documentation>
        <a:example>
          <publicationStmt>
            <publisher>Sorbonne Université, Centre André Chastel</publisher>
            <date when="2021"/>
            <availability status="restricted">
              <licence target="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr"/>
            </availability>
          </publicationStmt>
        </a:example>
        <ref name="publisher"/>
        <ref name="date"/>
        <element name="availability">
          <attribute name="status">
            <value>restricted</value>
          </attribute>
          <element name="licence">
            <attribute name="target"/>
          </element>
        </element>
      </element>
    </define>
    <define name="seriesStmt">
      <element name="seriesStmt">
        <a:documentation>Série dans laquelle s’inscrit le document</a:documentation>
        <element name="title">
          <optional>
            <attribute name="type">
              <value>main</value>
            </attribute>
            <ref name="titletext"/>
          </optional>
        </element>
        <optional>
          <element name="title">
            <optional>
              <attribute name="type">
                <value>main</value>
              </attribute>
            </optional>
            <ref name="titletext"/>
          </element>
        </optional>
      </element>
    </define>
    <define name="sourceDesc">
      <element name="sourceDesc">
        <a:documentation>Sourc manuscrite ou imprimée</a:documentation>
        <choice>
          <ref name="msDesc"/>
          <ref name="bibl"/>
        </choice>
        <optional>
          <ref name="listBibl"/>
        </optional>
      </element>
    </define>
    <define name="profileDesc">
      <element name="profileDesc">
        <a:documentation>Profil du document, description et métadonnées non bibliographique, valable dans le contexte d’une collection électronique, notamment les métadonnées d’une lettre <a:el>correspDesc</a:el>.</a:documentation>
        <ref name="correspDesc"/>
        <optional>
          <element name="langUsage">
            <a:documentation>Code de langue</a:documentation>
            <element name="language">
              <attribute name="ident">
                <choice>
                  <value>fr</value>
                </choice>
              </attribute>
              <empty/>
            </element>
          </element>
        </optional>
      </element>
    </define>
    <define name="body">
      <element name="body">
        <ref name="letter"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Champs de métadonnées en entête</a:documentation>
    <define name="correspDesc">
      <element name="correspDesc">
        <a:documentation>Bloc spécifique de description d’une correspondance, avec notamment les informations obligatoires d’expédition, de réception, et si nécessaire, de lien.</a:documentation>
        <a:example>
          <correspDesc>
            <correspAction type="sent">
              <persName key="Delacroix, Eugène (1798-1863)" ref="https://data.bnf.fr/fr/11899161">Eugène Delacroix</persName>
              <date when="1843-05-16"/>
              <placeName key="Paris" ref="https://www.geonames.org/2988507">Paris</placeName>
            </correspAction>
            <correspAction type="received">
              <persName key="Curmer, Léon (1801-1870)" ref="https://data.bnf.fr/fr/13006646/leon_curmer/">Léon Curmer</persName>
              <placeName key="Paris" ref="https://www.geonames.org/2988507">Paris</placeName>
            </correspAction>
            <correspContext>
              <correspContext>
                <ref target="{reponsea}" type="replyTo"/>
              </correspContext>
            </correspContext>
          </correspDesc>
        </a:example>
        <ref name="sent"/>
        <optional>
          <ref name="received"/>
        </optional>
      </element>
    </define>
    <define name="sent">
      <element name="correspAction">
        <a:documentation>Information d’expédition</a:documentation>
        <attribute name="type">
          <value>sent</value>
        </attribute>
        <ref name="persName"/>
        <zeroOrMore>
          <choice>
            <ref name="date"/>
            <ref name="placeName"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="received">
      <element name="correspAction">
        <a:documentation>Information de réception</a:documentation>
        <attribute name="type">
          <value>received</value>
        </attribute>
        <ref name="persName"/>
        <zeroOrMore>
          <choice>
            <ref name="date"/>
            <ref name="placeName"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="author">
      <element name="author">
        <a:documentation>Auteur de la lettre, avec son code identifiant dans l’attribut <a:att>key</a:att></a:documentation>
        <a:example>
          <author key="Delacroix, Eugène (1798-1863)">Eugène Delacroix</author>
        </a:example>
        <attribute name="key"/>
        <text/>
      </element>
    </define>
    <define name="bibl">
      <element name="bibl">
        <a:documentation>Référence bibliographique peu structurée de l’œuvre numérisée. En texte mêlé ponctuée, avec typographie légère (italique). Référence utilisée par exemple pour générer les citations à la page</a:documentation>
        <ul xmlns="http://www.w3.org/1999/xhtml">
          <li>&lt;<a href="http://purl.org/dc/terms/source" target="dc">dc:source</a>&gt;</li>
        </ul>
        <optional>
          <attribute name="source"/>
        </optional>
        <optional>
          <element name="abbr">
            <a:documentation>Forme courte de la référence bibliographique, par ex. pour l'inscription répétée de la foliotation.</a:documentation>
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="flow"/>
            <ref name="author"/>
            <element name="biblScope">
              <optional>
                <attribute name="unit"/>
              </optional>
              <text/>
            </element>
            <ref name="publisher"/>
            <element name="pubPlace">
              <text/>
            </element>
            <element name="edition">
              <ref name="flow"/>
            </element>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    
    <define name="edition">
      <element name="edition">
        <a:documentation>Nom de l’édition électronique</a:documentation>
        <a:example>
          <edition>Correspondance Delacroix, Centre André Chastel</edition>
        </a:example>
        <text/>
      </element>
    </define>
    <define name="listBibl">
      <element name="listBibl">
        <oneOrMore>
          <ref name="bibl"/>
        </oneOrMore>
      </element>
    </define>
    <define name="msDesc">
      <element name="msDesc">
        <a:documentation>Description d’un document (archivistique <a:el>msIdentifier</a:el>, logique <a:el>msContents</a:el>, matérielle <a:el>physDesc</a:el>…)</a:documentation>
        <ref name="msIdentifier"/>
        <optional>
          <ref name="msContents"/>
        </optional>
        <ref name="physDesc"/>
      </element>
    </define>
    <define name="msIdentifier">
      <element name="msIdentifier">
        <a:documentation>Identification d’un document</a:documentation>
        <zeroOrMore>
          <choice>
            <element name="collection">
              <text/>
            </element>
            <element name="country">
              <text/>
            </element>
            <element name="institution">
              <text/>
            </element>
            <element name="repository">
              <text/>
            </element>
            <element name="settlement">
              <text/>
            </element>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <element name="idno">
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="msContents">
      <element name="msContents">
        <a:documentation>Contenu d’un document</a:documentation>
        <oneOrMore>
          <element name="msItem">
            <optional>
              <element name="locus">
                <text/>
              </element>
            </optional>
            <zeroOrMore>
              <choice>
                <ref name="title"/>
                <ref name="author"/>
              </choice>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="physDesc">
      <element name="physDesc">
        <a:documentation>Description physique d’un document</a:documentation>
        <zeroOrMore>
          <ref name="p"/>
        </zeroOrMore>
        <element name="objectDesc">
          <attribute name="form"/>
          <element name="supportDesc">
            <optional>
              <attribute name="material"/>
            </optional>
            <optional>
              <element name="support">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="extent">
                <element name="measure">
                  <attribute name="unit">
                    <value>page</value>
                  </attribute>
                  <attribute name="quantity">
                    <data type="int"/>
                  </attribute>
                </element>
                <!--
                <element name="dimensions">
                  <attribute name="unit"/>
                  <interleave>
                    <optional>
                      <element name="depth">
                        <text/>
                      </element>
                    </optional>
                    <element name="height">
                      <text/>
                    </element>
                    <element name="width">
                      <text/>
                    </element>
                  </interleave>
                </element>
                -->
              </element>
            </optional>
          </element>
        </element>
      </element>
    </define>
    <define name="publisher">
      <element name="publisher">
        <a:documentation>Nom de l’éditeur électronique (dc:publisher)</a:documentation>
        <a:example>
          <publisher>Sorbonne Université, Centre André Chastel</publisher>
        </a:example>
        <text/>
      </element>
    </define>
    <define name="respStmt">
      <element name="respStmt">
        <a:documentation>Responsabilité dans l'élaboration du texte électronique (pas le contenu intellectuel, cf. <a:el>titleStmt</a:el>)</a:documentation>
        <a:example>
          <respStmt>
            <resp>Corrections</resp>
            <name>Catherine Gros</name>
            <name>Gaëlle Lafage</name>
          </respStmt>
        </a:example>
        <element name="resp">
          <a:documentation>Rôle dans l’établissement du texte électronique</a:documentation>
          <text/>
        </element>
        <oneOrMore>
          <element name="name">
            <a:documentation>Personne qui est intervenue dans le fichier</a:documentation>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="title">
      <element name="title">
        <a:documentation>Titre</a:documentation>
        <a:example>
          <title>Lettre à [Joseph-Fernand Boissard], 15 [mai 1843]</title>
        </a:example>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Blocs du corps de la lettre</a:documentation>
    <define name="letter">
      <optional>
        <ref name="pb"/>
      </optional>
      <optional>
        <ref name="opener"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="pb"/>
        </choice>
      </oneOrMore>
      <optional>
        <ref name="closer"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="pb"/>
          <ref name="postscript"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="flow">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline"/>
          <ref name="note"/>
          <ref name="pb"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="closer">
      <element name="closer">
        <a:documentation>Section de fin d’une lettre</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="dateline"/>
            <ref name="lb"/>
            <ref name="pb"/>
            <ref name="salute"/>
            <ref name="signed"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="dateline">
      <element name="dateline">
        <a:documentation>Mention de date, de temps ou de lieu, ex : donné le … à … ("datum", dans une lettre, une charte…)</a:documentation>
        <ref name="flow"/>
      </element>
    </define>
    <define name="p">
      <element name="p">
        <a:documentation>Paragraphe de texte, &lt;html5:p&gt;</a:documentation>
        <ref name="flow"/>
      </element>
    </define>
    <define name="opener">
      <element name="opener">
        <a:documentation>Section de début d’une lettre</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="dateline"/>
            <ref name="lb"/>
            <ref name="pb"/>
            <ref name="salute"/>
            <ref name="signed"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="postscript">
      <element name="postscript">
        <a:documentation>En fin de lettre</a:documentation>
        <oneOrMore>
          <choice>
            <ref name="p"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="salute">
      <element name="salute">
        <a:documentation>Salutation, formule de politesse</a:documentation>
        <ref name="flow"/>
      </element>
    </define>
    <define name="signed">
      <element name="signed">
        <a:documentation>Signature</a:documentation>
        <ref name="flow"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Typographie et indexation</a:documentation>
    <define name="inline">
      <choice>
        <ref name="date"/>
        <ref name="emph"/>
        <ref name="i"/>
        <ref name="lb"/>
        <ref name="persName"/>
        <ref name="placeName"/>
        <ref name="sup"/>
      </choice>
    </define>
    <define name="titletext">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emph"/>
          <ref name="i"/>
          <ref name="sup"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="keytext">
      <optional>
        <ref name="key"/>
      </optional>
      <optional>
        <ref name="ref"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="note"/>
          <ref name="sup"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="note">
      <element name="note">
        <a:documentation>Une note, encodée dans le flux du texte, au point de l’appel.</a:documentation>
        <optional>
          <attribute name="resp">
            <choice>
              <value>author</value>
              <a:documentation>note de l’auteur</a:documentation>
              <value>editor</value>
              <a:documentation>note de l’éditeur</a:documentation>
              <value>translator</value>
              <a:documentation>note du traducteur</a:documentation>
              <value>©</value>
              <a:documentation>note protégée par le droit d’auteur au moment de l’écriture du fichier</a:documentation>
              <text/>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="place">
            <choice>
              <a:documentation>dans la marge inférieure</a:documentation>
              <value>bottom</value>
              <a:documentation>dans la marge</a:documentation>
              <value>margin</value>
              <data type="token"/>
            </choice>
          </attribute>
        </optional>
        <choice>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="inline"/>
            </choice>
          </oneOrMore>
          <oneOrMore>
            <choice>
              <ref name="p"/>
            </choice>
          </oneOrMore>
        </choice>
      </element>
    </define>
    <define name="pb">
      <element name="pb">
        <a:documentation>Saut de page, “page break”, à placer avant le début du texte de la page, avec le numéro</a:documentation>
        <attribute name="n"/>
        <choice>
          <optional>
            <attribute name="facs"/>
          </optional>
          <optional>
            <ref name="xml.id"/>
          </optional>
        </choice>
      </element>
    </define>
    <define name="date">
      <element name="date">
        <a:documentation>Date</a:documentation>
        <optional>
          <ref name="when"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="emph">
      <element name="emph">
        <a:documentation>Mise en valeur, par exemple souligné dans la lettre, généralement rendu par de l’italique à l’imprimé (ou à l’écran). Un attribut libre <a:att>rend</a:att> permet de préciser d’autres types de mise en valeur (par exemple encre rouge, plus grand…), l’éditeur établissant les mots clés qu’il veut retrouver une classe css pour l’affichage.</a:documentation>
        <attribute name="rend"/>
        <text/>
      </element>
    </define>
    <define name="i">
      <element name="hi">
        <a:documentation>Italique &lt;html:i></a:documentation>
        <attribute name="rend">
          <choice>
            <value>it</value>
            <value>i</value>
          </choice>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="lb">
      <element name="lb">
        <a:documentation>Saut de ligne “line break” &lt;html5:br/&gt;</a:documentation>
        <empty/>
      </element>
    </define>
    <define name="persName">
      <element name="persName">
        <a:documentation>Nom de personne cité en cours de texte, peut être identifié par un clé <a:att>key</a:att></a:documentation>
        <ref name="keytext"/>
      </element>
    </define>
    <define name="placeName">
      <element name="placeName">
        <a:documentation>Nom de lieu cité en cours de texte, peut être identifié par un clé <a:att>key</a:att></a:documentation>
        <ref name="keytext"/>
      </element>
    </define>
    <define name="sup">
      <element name="hi">
        <a:documentation>Exposant &lt;html:sup></a:documentation>
        <attribute name="rend">
          <value>sup</value>
        </attribute>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Attributs et types de données</a:documentation>
    <define name="key">
      <attribute name="key">
        <a:documentation>Terme normalisé (clé de regroupement) pour une entité indexable (personne, lieu…)</a:documentation>
      </attribute>
    </define>
    <define name="ref">
      <attribute name="ref">
        <a:documentation>URI de référence pour un terme indexable : auteur, titre, personne, lieu…</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </define>
    <define name="xml.id">
      <attribute name="xml:id">
        <a:documentation>Identifiant, au moins unique pour le document</a:documentation>
        <data type="ID"/>
      </attribute>
    </define>
    <define name="xml.lang">
      <attribute name="xml:lang">
        <a:documentation>Code normalisé de langue</a:documentation>
        <ref name="lang"/>
      </attribute>
    </define>
    <define name="lang">
      <data type="string">
        <param name="pattern">[a-z][a-z][a-z]?</param>
      </data>
    </define>
    <define name="type.date">
      <data type="string">
        <param name="pattern">([0-9]{4}(-[0-9]{2}(-[0-9]{2})?)?)?</param>
      </data>
    </define>
    <define name="when">
      <attribute name="when">
        <ref name="type.date"/>
      </attribute>
    </define>
  </div>
</grammar>
